.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  background-color:   rgb(72, 47, 112);
  // position: sticky;
  

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: #6439ff;
    }
  }

  hr {
    height: 0;
    border: 0.5px solid rgb(230, 227, 227);
  }

  .center {
    padding-left: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      
      .title {
        font-size: 10px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;
        
        
        &:hover {
          background-color: #ece8ff;
        }

        .icon {
          font-size: 18px;
          color: #7451f8;
        }
        .main-nav-active{
          color:tomato;
        }

        span{
            font-size: 13px;
            font-weight: 600;
            color: #888;
            margin-left: 10px;
        }
      }
    }
  }
  // .active-link{
  //   color: #ece8ff;
  //   background-color: #ece8ff;
    
  // }
  .bottom{
      display: flex;
      align-items: center;
      margin: 10px;
    
      .colorOption{
          width: 20px;
          height: 20px;
          border-radius: 5px;
          border: 1px solid #7451f8;
          cursor: pointer;
          margin: 5px;

          &:nth-child(1){
              background-color: whitesmoke;
          }
          &:nth-child(2){
              background-color: #333;
          }
          &:nth-child(3){
              background-color: darkblue;
          }
      }
  }
}
*{
  margin:0;
  padding:0;
  text-decoration: none;
}
.container{
  width: fit-content;
  
  
}
main{
  width: 100%;
  
  padding: 20px;
  
}
.sidebar{
  background:  rgb(72, 47, 112);
  color: #fff;
  
  height: 200vh ;
  width: 200px;
  transition: all 0.5s;
 
}
.top_section{
  display: flex;
  align-items:center;
  // padding:20px 15px;
  padding-left: 15px;
  padding-top: 25px;
  font-family: "Roboto", "Open Sans";
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 10px;
  gap: 10px;
  transition: all 0.5s;
  text-decoration: none;
}
.link:hover{
  background:rgb(230, 227, 227);
  color: #000;
  transition: all 0.5s;
}
.active{
  background: rgb(230, 227, 227);
  color: #000;
}
.icon, .link_text{
  font-size: 15px;
}
