.animation-class{
    width: 100vw;
    height: 100vh;
    background:white;
    overflow: hidden;
    padding: 250px;
    margin-left: 0;
    display: flex;
}
.animation{
    background: rgb(173, 75, 168);
    border-radius: 15px;
    width: 50px;
    height: 50px;
    margin-left: 20px;
}
.refresh{
    padding:10px;
    position: absolute;
    background: rgba(0,0,0,0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top:10px;
    right: 10px;
    display: flex;
    margin-top: 20px;
    cursor: pointer;
}
.gpay{
    margin-left:  180px;
   margin-top:20px;
}